EDMCOverlay/.vs/
EDMCOverlay/EDMCOverlay/EDMCOverlay.csproj.user
EDMCOverlay.exe*
.cache/
.idea/
Plugins/
*.pyc
*.pyo
*.dll
*.exe
*.zip
*.log
*~
*.Json.xml
*.pdb
*.vshost.exe*
.vscode/settings.json
/.vs
EDMCOverlay/UpgradeLog.htm
